<h1><%= h(@channel.name) %></h1>

<ul>
  <% for show in @channel.shows %>
    <li>
      <span class="time"><%= h(show.broadcasted_at.strftime('%H:%I')) %></span>
      <%= h(show.title) %>
    </li>
  <% end %>
</ul>