<ul title="<%= h(@channel.name) %>" selected="true" class="shows">
  <% for show in @channel.shows %>
    <li>
      <span class="time"><%= h(show.broadcasted_at.strftime('%H:%M')) %></span>
      <h2><%= h(show.title) %></h2>
      <% unless show.subtitle.blank? %>
        <h3><%= h(show.subtitle) %></h3>
      <% end %>
    </li>
  <% end %>
</ul>