/* Shows listing for a specific channel */
ul.shows li .time {
  padding-right: 5px;
  font-size: 80%;
}
ul.shows li h2 {
  display: inline;  /* The title is on the same line as the time */
  font-size: 100%;
}
ul.shows li h3 {
  font-size: 100%;
  color: gray;
  font-weight: normal;
}

/* Show details */
div.show .text-container {
  padding: 10px;
}
div.show .time {
  padding-right: 5px;
  font-size: 100%;
  font-weight: bolder;
}
div.show h1 {
  display: inline;  /* The title is on the same line as the time */
  font-size: 120%;
}
div.show h2 {
  font-size: 110%;
}
div.show h3 {
  font-size: 100%;
}