<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <title>MobileTV</title>
  <%= stylesheet_link_tag 'iphone', 'iuix' %>
  <%= javascript_include_tag 'iuix' %>
</head>
<body>
  <div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <%= link_to "Refresh", refresh_channels_path, :target => '_self', :class => 'button' %>
  </div>

  <%= yield %>
</body>
</html>
